body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin:20px;
    background-color:#387FC7;
}

.header{
    text-align:center;
    border:2px solid black;
    box-shadow: 5px 10px 15px #C7389E ;
    background:white;
    padding:20px;
}

.header img{
    width:800px;
    height:500px;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
    box-shadow: 5px 10px 15px #C7389E ;
}

td{
    border:2px solid black;
    vertical-align:top;
    padding:20px;
}

.content{
    width:70%;
    height:350px;
    background:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
}

.menu{
    width:30%;
    background:white;
    text-align:center;
}

.menu a{
    display:block;
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:10px;
    margin:10px;
    background-color:lightgray;
}

.menu a:hover{
    background-color:lightblue;
}